{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow">
            <div class="card-body">
                <h3>Регистрация нового сотрудника</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Создать аккаунт</button>
                    <a href="{% url 'employee_list' %}" class="btn btn-secondary">Назад</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}